.hover-border {
    border: 1px solid #e0e1e0;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.default-border {
    border: 1px solid #e0e0e0;
}

.note {
    width: 100%;
    min-width: 120px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.title,
.text {
    margin: 0;
    box-sizing: border-box;
    width: auto;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 1rem;
}
.title {
    font-weight: 500;
    padding: 12px 16px 0 16px;
}

.text {
    padding: 12px 16px;
}

.notes-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 50px;
}

.list-note {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 10px;
}

.note-type {
    padding-left: 10px;
}

.note-title {
    margin-bottom: 1px;
}

.update-input {
    width: auto;
}

.notes {
    margin: 0;
    display: inline-block;
    width: 100%;
    max-width: 240px;
}

.note-footer {
    margin: 0;
}

.input-modal-share {
    max-width: none;
    width: 100%;
    margin-bottom: 10px;
}

.update-input {
    width: auto;
}

.empty-note {
    color: rgb(95, 99, 104);
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
    left: 0;
    padding: 15px 10px 0 10px;
    position: absolute;
    top: 0;
}

.li-user {
    gap: 3px;
    width: fit-content;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    background-color: gainsboro;
    border-radius: 8px;
}

.ng-autocomplete {
    width: 100%;
}

.popup-label {
    width: 250px;
    background-color: white;
    border: 1px solid #e0e1e0;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.card-title {
    font-weight: bold;
    font-size: 15px;
}

#myUL {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

label {
    border: 0px solid #ccc;
    padding: 10px;
    margin: 0 0 10px;
    display: block;
}

label:hover {
    background: #eee;
    cursor: pointer;
}
